<input 
	ng-model="ngModel"
	type="password" 
	class="form-control" 
	id="password" 
	placeholder="Password" 
	uib-popover-template="ctrl.template"  
	popover-trigger="focus" 
	popover-placement='bottom'>

<script type="text/ng-template" id="myPopoverTemplate.html">
    <div>
      <p>Password must meet the following requirements:</p>
      <span ng-class="{'text-success': ctrl.rules.letter, 'text-danger': !ctrl.rules.letter}">
      	<i ng-class="{'fa-check': ctrl.rules.letter, 'fa-times': !ctrl.rules.letter, 'fa': true}"></i>
      	At least <b>one letter</b>
      </span>
      <br>
      <span ng-class="{'text-success': ctrl.rules.capital_letter, 'text-danger': !ctrl.rules.capital_letter}">
      	<i ng-class="{'fa-check': ctrl.rules.capital_letter, 'fa-times': !ctrl.rules.capital_letter, 'fa': true}"></i>
      	At least <b>one capital letter</b>
      </span>
      <br>
      <span ng-class="{'text-success': ctrl.rules.number, 'text-danger': !ctrl.rules.number}">
      	<i ng-class="{'fa-check': ctrl.rules.number, 'fa-times': !ctrl.rules.number, 'fa': true}"></i>
      	At least <b>one number</b>
      </span>
      <br>
      <span ng-class="{'text-success': ctrl.rules.special_character, 'text-danger': !ctrl.rules.special_character}">
      	<i ng-class="{'fa-check': ctrl.rules.special_character, 'fa-times': !ctrl.rules.special_character, 'fa': true}"></i>
      	At least <b>one special character</b>
      </span>
      <br>
      <span ng-class="{'text-success': ctrl.rules.length, 'text-danger': !ctrl.rules.length}">
      	<i ng-class="{'fa-check': ctrl.rules.length, 'fa-times': !ctrl.rules.length, 'fa': true}"></i>
      	Be at least <b>6 characters</b>
      </span>
    </div>
</script>

<style type="text/css" >
	i.fa.fa-times {
		margin-right: 3px;
	}
</style>